@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-display: swap;
}

body {
  background: linear-gradient(rgb(28 2 53 / 79%),rgb(27 57 43 / 80%),rgb(0 2 1 / 90%)),url(/images/1.webp) no-repeat left /cover fixed;
}